<div class="container companies">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Empresas Afiliadas</h1>
    </div>
  </div>
  <div class="row">
    <div class="new-button">
      <%= link_to "Nueva Empresas Afiliada", new_company_path, remote: true, class: "btn btn-default pull-right" %>
    </div>
    <table class="table" id="companies-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Numero</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render "companies_table", companies: @companies %>
      </tbody>
    </table>
  </div>
</div>