@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "companies";
@import "products";
@import "general";
@import "floors";
@import "departments";
@import "sections";
@import "falabella_employees";
@import "external_employees";


body {
  background-color: #B3AB95;
  font-family: 'Open Sans', sans-serif;
}

hr {
  border-top: 1px solid black;
  margin: 30px 0;
}
hr.style1 {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}