.floor {
  h2 {
    margin-bottom: 15px;
  }
  .floor-selection {
    margin-top: 20px;
    .btn-round {
      font-weight: bold;
      color: #aad500;
      background-color: black;
      margin: 2px;
      padding: 5px 20px;
      border: 3px solid #aad500;
      border-radius: 2px;
    }
    #active {
      color: black;
      background-color: #aad500;
    }
  }
  h3 {
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 9px;
  }
}