.new-button {
  a {
    font-size: 16px;
    background-color:#aad500;
    margin: 25px;
    border: 1.5px solid black;
    &:hover {
      background-color:#9CBF00;
    }
  }
}

.panel {
  h4 {
    font-weight: bold;
    margin: 0;
  }
  .panel-body {
    font-size: 15.5px;
    padding: 0;
    a {
      color: #A0C800;
    }
    table {
      margin-bottom: 0;
      td, th {
        padding: 12px 26px;
      }
      tbody {
        tr:hover {
          background-color: whitesmoke;
          .actions a { visibility: visible; }
        }
      }
      .actions {
        a {
          visibility: hidden;
          font-size: 13px;
          cursor: pointer;
          margin-left: 10px;
          &.delete {
            color: #BD0000;
          }
        }
      }    
    }
  }
}

.modal {
  .modal-header {
    color: black;
    background-color: #aad500;
  }

  .modal-body {
    background-color: whitesmoke;
  }

  .modal-footer {
    background-color: #aad500;
  }
}
