<div class="container products">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Productos</h1>
    </div>
  </div>
  <div class="row">
    <div class="new-button">
      <%= link_to "Nueva Producto", new_product_path, remote: true, class: "btn btn-default pull-right" %>
    </div>
    <table class="table" id="products-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render "products_table", products: @products %>
      </tbody>
    </table>
  </div>
</div>